
AE proj 2023-12-08/2023-12-08.mp4
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 1.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 10.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 11.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 12.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 13.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 14.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 15.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 16.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 17.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 18.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 19.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 2.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 20.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 21.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 22.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 23.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 24.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 25.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 26.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 27.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 28.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 29.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 3.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 30.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 31.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 32.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 33.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 34.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 35.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 36.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 37.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 38.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 4.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 5.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 6.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 7.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 8.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08 auto-save 9.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+ auto-save 1.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+ auto-save 2.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+ auto-save 3.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+ auto-save 4.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+ auto-save 5.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+ auto-save 6.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+ auto-save 7.aep
AE proj 2023-12-08/Adobe Premiere Pro Audio Previews/PR proj 2023-12-08.PRV/221ec7e4-935f-401d-aab8-007cce899e2d+7fc70b1d-7011-fa45-a797-951d00000049 48000.cfa
AE proj 2023-12-08/Adobe Premiere Pro Audio Previews/PR proj 2023-12-08.PRV/Peak Files/221ec7e4-935f-401d-aab8-007cce899e2d+7fc70b1d-7011-fa45-a797-951d00000049 48000.pek
AE proj 2023-12-08/AE proj 2023-12-08+_AME/tmpAEtoAMEProject-正面 11.aep
AE proj 2023-12-08/AE proj 2023-12-08+_AME/tmpAEtoAMEProject-正面 12.aep
AE proj 2023-12-08/AE proj 2023-12-08+_AME/tmpAEtoAMEProject-正面 13.aep
AE proj 2023-12-08/AE proj 2023-12-08+_AME/tmpAEtoAMEProject-正面1.aep
AE proj 2023-12-08/AE proj 2023-12-08+_AME/tmpAEtoAMEProject-正面2.aep
AE proj 2023-12-08/AE proj 2023-12-08+_AME/tmpAEtoAMEProject-正面3.aep
AE proj 2023-12-08/AE proj 2023-12-08+_AME/正面.mov
MainComp 1+.mov
MainComp 1.mov
MainComp 1_1.mov
正面.mp4
正面.mov
2020-02-0035-1程代勒-小琉球記遊(L+R) All in 2人.psd
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 1.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 10.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 11.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 12.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 13.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 14.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 15.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 16.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 17.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 18.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 19.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 2.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 20.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 3.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 4.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 5.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 6.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 7.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 8.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08++ auto-save 9.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+++ auto-save 1.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+++ auto-save 10.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+++ auto-save 11.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+++ auto-save 2.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+++ auto-save 3.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+++ auto-save 4.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+++ auto-save 5.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+++ auto-save 6.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+++ auto-save 7.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+++ auto-save 8.aep
AE proj 2023-12-08/Adobe After Effects Auto-Save/AE proj 2023-12-08+++ auto-save 9.aep
正面 20231215.mov
正面 20231215 高品質DXV3.mov
地面 20231215.mov
全幅 20231215 高品質DXV3.mov
全幅 20231215 2K_1.mov
全幅 20231215 2K.mov
s8.tmp
Full frame面.mp4
AE proj 2023-12-08/AE proj 2023-12-08+10.aep
AE proj 2023-12-08/AE proj 2023-12-08++.aep
AE proj 2023-12-08/AE proj 2023-12-08+++_AME/tmpAEtoAMEProject-Full frame面 11.aep
會動的小琉球記遊.pptx
光影走廊檔案格式與解析度說明v2.pdf
AE proj 2023-12-08/AE proj 2023-12-08+++.aep Logs/AE 2023-12-15 上午 09-55-38.txt
AE proj 2023-12-08/AE proj 2023-12-08+++.aep Logs/AE 2023-12-15 上午 11-31-50.txt
AE proj 2023-12-08/PR proj 2023-12-08.prproj
2020-02-0035-1程代勒-小琉球記遊(L+R)-All-in-2++0+_0006_底圖+.png
2020-02-0035-1程代勒-小琉球記遊(L+R)-All-in-2++0+_0005_左邊遠岩石上的草.png
2020-02-0035-1程代勒-小琉球記遊(L+R)-All-in-2++0+_0005_左邊遠岩石.png
2020-02-0035-1程代勒-小琉球記遊(L+R)-All-in-2++0+_0004_右邊近石頭.png
2020-02-0035-1程代勒-小琉球記遊(L+R)-All-in-2++0+_0003_右樹+.png
2020-02-0035-1程代勒-小琉球記遊(L+R)-All-in-2++0+_0002_左樹+.png
2020-02-0035-1程代勒-小琉球記遊(L+R)-All-in-2++0+_0000_鳥.png
2020-02-0035-1程代勒-小琉球記遊(L+R) All in 2.psd
2020-02-0035-1程代勒-小琉球記遊(L+R)-All-in-2++0+_0001_雲+.png
AE proj 2023-12-08/Wind blowing leaves 1 (Open copyright material).m4a
AE proj 2023-12-08/海的聲音.mp4
AE proj 2023-12-08/補破網.wav
AE proj 2023-12-08/長榮航空登機音樂  典藏.m4a
AE proj 2023-12-08/錄製_2023_12_08_04_53_05_850.mp4
釣魚竿男.psd
阿公與小孩.psd
會動的小琉球記遊.pptx
光影走廊檔案格式與解析度說明v2.pdf
2020-02-0035-1程代勒-小琉球記遊(L+R) All in 2.jpg
2020-02-0035-1程代勒-小琉球記遊(L+R) All in 2++0.psd
2020-02-0035-1程代勒-小琉球記遊(L+R) All in 2++0+.psd
2020-02-0035-1程代勒-小琉球記遊(L+R) All in 2++0+.png
2020-02-0035-1程代勒-小琉球記遊(L+R) All in 2++0 鳥onlyA4.psd
2020-02-0035-1程代勒-小琉球記遊(L+R) All in 2++0 鳥only.psd
2020-02-0035-1程代勒-小琉球記遊(L+R) All in 2++.psd
